.table-container {
  margin-top: 20px;
  background: var(--card);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  color: var(--text);
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  background: var(--card);
  color: var(--text);
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #eee;
  background: var(--card);
  color: var(--text);
}

th {
  background: var(--table-header);
  color: var(--text);
}
